{% extends "layout.jinja2" %}

{% block links %}
          <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
{% endblock %}

{% block body %}
<div id="aboutpage">
    <h1>Our Delivery Team</h1>
        <ul class="aboutus">
            <li class="eachperson">
                <p>Sean Beseler</p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/sean-beseler-10054110a" data-format="inline" data-related="false"></script>
            </li>
            
        
        
            <li class="eachperson">
                <p>Erik Enderlein</p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/erik-enderlein-ba056910a" data-format="inline" data-related="false"></script>
            </li>
            
            <li class="eachperson">
                <p>Opheila Yin</p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/opheliayin" data-format="inline" data-related="false"></script>
            </li>
        

            <li class="eachperson">
                <p>James Salamonsen</p>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/james-salamonsen-12237b82" data-format="inline" data-related="false"></script>
            </li>
            

            
        </ul>
        </div>
{% endblock %}