{% extends "layout.jinja2" %}
{% block links %}
          <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
{% endblock %}
{% block body %}
<div id="heat-cont">
    <div id="heat-image">
        <img src="static/images/master.png"/>
        <img src="static/images/mutated.png"/>
        <img src="static/images/mutated 2.png"/>
    </div>
</div>
{% endblock %}