{% extends "layout.jinja2" %}
{% block body %}

<section class="login-view">
<h2>Login</h2>
    <form action="" method="POST">
        <div class="field">
            <label for="username">Username: </label>
            <input rows="5" cols="80" type="text" name="username" id="username"/>
        </div>
        <div class="field">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/>
        </div>
        <div class="control_row">
            <button id='btn' type="submit" name="login" value="login">Login</button>
        </div>
    </form>
</section>
{% endblock %}