{% extends "layout.jinja2" %}
{% block body %}
    <p></p>
    <h1>Create New Journal Entry</h1>
    <form>
        Title:<br>
        <input type="text"><br><br>
        Body:<br>
        <input type="text"><br>
    </form>
{% endblock %}