{% extends "layout.jinja2" %}

{% block content %}
    <h1> {{ entry.title }} Day {{ entry.id }} {{ entry.creation_date }}</h1><a href="{{ request.route_url('edit', id=entry.id) }}"><button>Edit Entry</button></a>

    <p><strong>{{ entry.entry }}</strong></p>
{% endblock %}
