{% extends "layout.jinja2" %}
{% block body %}
    <form method="POST">
        <button type="submit">Edit Journal Entry</button> <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </form>
    <article>
        <p>id: {{ entry.id }}</p>
        <h1>{{ entry.title }}</h1><p>{{ entry.creation_date }}</p>
        <p>{{ entry.body }}</p>
    </article>
{% endblock %}
