<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Learning Journal | {{ page }}</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Miguel Pena's Journal Entries</h1>
            </div>
            <div>
                <a href="{{ request.route_url('list') }}"><button>Home</button></a>
                <a href="{{ request.route_url('new') }}"><button>New</button></a>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <!-- insert GitHub, LinkedIn, and Twitter icons here with links to those pages. -->
        </footer>
    </body>
</html>
