<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <header class="site-header clearfix">
      <section class="heading-group-h1">
        <h1>JourNull</h1>
        <h2>EntTrees</h2>
      </section>
      <nav class="main-nav">
        <div class="icon-menu"></div>
        <ul>
          <li class="tab" data-content="entries"><a href="/" class="icon-home"> Home</a></li>
          <li class="tab"><a href="/login" class="icon-home"> Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="content" class="tab-content">
        {% block body %}
        {% endblock %}
      </section>
      <section id="create" class="create">
        {% block create %}
      </section>
    </main>
    <footer>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
