<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JourNull</title>
    <link rel="stylesheet" href="vendor/styles/normalize.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="vendor/styles/railscasts.css">

    <script id="entry-template" type="text/x-handlebars-template">
      <entry
        class="clearfix"
        data-author="{{authorSlug}}"
        data-category="{{categorySlug}}">
        <header>
          <h1>{{title}}</h1>
          <div class="byline">
            By <address><a href="{{authorUrl}}">{{author}}</a></address>
            {{publishStatus}}
          </div>
        </header>
        <section class="entry-body">{{{body}}}</section>
        <a href="#" class="read-on">Read on &rarr;</a>
      </entry>
    </script>
    </head>
  <body>
    <header class="site-header clearfix">
      <section class="heading-group-h1 pull-left">
        <h1>
          JourNull
        </h1>
        <h2>NewTrees</h2>
      </section>
      <nav class="main-nav">
        <div class="icon-menu"></div>
        <ul>
          <li class="tab" data-content="entries"><a href="/" class="icon-home"> Home</a></li>
          <li class="tab" data-content="write"><a href="#" class="icon-home"> Write</a></li>
          <li class="tab" data-content="entries"><a href="index.html" class="icon-home"> Preview</a></li>
        </ul>
      </nav>
    </header>
    <main class="clearfix">
      <section id="write" class="tab-content">
        <h1>New Entrees</h1>
        <form action="#" id="new-form">
          <label>
            <input type="text" id="entry-title" placeholder="Entry title" required>
          </label>
          <textarea id="entry-body" rows="8" cols="40" required></textarea>
          <label>
            <input type="text" id="entry-author" placeholder="Author Name" required>
          </label>
          <label>
            <input type="text" id="entry-author-url" placeholder="Author's URL" required>
          </label>
          <label>
            <input type="text" id="entry-category" placeholder="Category" required>
          </label>
          <button type="submit">Submit</button>
        </form>
      </section>
      <section id="entries" class="tab-content">

      </section>
    </main>
    <footer>
      
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js"></script>
    <script src="scripts/models/entry.js"></script>
    <script src="scripts/views/newEntry.js"></script>
  </body>
</html>
s