.site-header {
  background: black;
  color: cornsilk;
  text-align: center;
}

.heading-group-h1 {
}

.icon-menu {
  font-size: 3em;
  float: right;
}
.main-nav {
    text-align: center;
    display:inline;
}



#entry-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

.login-view {
  text-align:center;
}
